/* https://css-tricks.com/the-shapes-of-css/ */
#circle {
    width: 25px;
    height: 25px;
    background: rgb(80, 78, 78);
    border-radius: 50%
}

#peopleTitle{
    /* width: 100%; */
}

.people{
    background-color: #d1cdcd;
    border-radius: 10px;
    margin: 2.5%;
    width: 24.25%;
}

.peopleWrapper{
    background-color: aqua;
    width: 65%;
    border-radius: 10px;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1em auto 1em auto;
}

.personName{
    padding-top: 0.5em;
    padding-left: 0.5em;
}