.App {
  text-align: center;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main{
  margin-top: 1%;
  display: flex;
  width: 100%;
}

.headerSection{
  display: flex;
}

.titleSection{
  margin-left: 5%;
}

#milestoneTitle{
  font-size: 48.75px;
}

#buttonContainer{
  display: flex;
  flex-direction: column;
  margin-left: 45%;
  width: 10%;
}

#buttonContainer > *{
  padding: 15%;
  margin: 5%;
}

.ticketContainer{
  display: flex;
  flex-direction: row;
}

.peopleContainer{
  display: flex;
  flex-direction: row;
}

/* * {
  border: 1px red solid;
} */

.leftside{
  width: 70%;
}