.mainstats{
    margin-left: 5em;
    border-radius: 10px;
    background-color: #d1cdcd;
    height: 90vh;
    width: 35em;
}

.mainstatsUL {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.mainstatsUL > *{
    padding-top: 1em;
}

.mainstats > * {
    padding: 0 1em 0 1em;
    font-size: 30px
}